body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

.menu a {
    display: block;
    width: 250px;
    margin: 15px auto;
    padding: 15px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.menu a:hover {
    background: #0056b3;
}

input, button {
    padding: 8px;
    margin: 5px;
    width: 200px;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}
