body {
    font-family: Arial;
    background: #eef2f7;
    text-align: center;
}

h1 {
    color: #2c3e50;
}

.box {
    background: white;
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

input, select {
    width: 90%;
    padding: 8px;
    margin: 6px 0;
}

button {
    width: 95%;
    padding: 10px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #2980b9;
}

p {
    font-weight: bold;
}
